//Background
.bg-cover{
    background-size: cover;
}
.bg-full{
    background-size: 100%;
}
.bg-no-repeat{
    background-repeat: no-repeat;
}
.bg-bottom{
    background-position: bottom;
}
//End Background

//Margin
.m-0{
    margin: 0;
}
.mt-indent{
    margin-top: $layout-indent;
}
.mb-indent{
    margin-bottom: $layout-indent;
}
.ml-indent{
    margin-left: $layout-indent;
}
.mr-indent{
    margin-right: $layout-indent;
}
.mx-indent{
    @extend #{".ml-indent", ".mr-indent"};
}
.my-indent{
    @extend #{".mt-indent", ".mb-indent"};
}
.m-indent{
    @extend #{".mx-indent", ".my-indent"};
}
.mb-4{
    margin-bottom: 4px;
}
.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.-mb-4{
    margin-bottom: -4px;
}
.-mb-10{
    margin-bottom: -10px;
}
.-mb-15{
    margin-bottom: -15px;
}
.my-10{
    @extend #{".mt-10", ".mb-10"};
}
.mb-12{
    margin-bottom: 12px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-34{
    margin-bottom: 34px;
}
.mb-36{
    margin-bottom: 36px;
}
.mb-40{
    margin-bottom: 40px;
}
.m-auto{
    margin: auto;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.ml-indent-xs{
    margin-left: $layout-indent-xs;
}
.mr-indent-xs{
    margin-right: $layout-indent-xs;
}
.mb-indent-xs{
    margin-bottom: $layout-indent-xs;
}
.mt-indent-xs{
    margin-top: $layout-indent-xs;
}
.mx-indent-xs{
    @extend #{".ml-indent-xs", ".mr-indent-xs"};
}
//End Margin

//Padding
.p-0{
    padding: 0;
}
.pt-0{
    padding-top: 0;
}
.pb-0{
    padding-bottom: 0;
}
.pl-0{
    padding-left: 0;
}
.pr-0{
    padding-right: 0;
}
.px-0{
    @extend #{".pl-0", ".pr-0"};
}
.py-0{
    @extend #{".pt-0", ".pb-0"};
}
.pt-indent{
    padding-top: $layout-indent;
}
.pb-indent{
    padding-bottom: $layout-indent;
}
.pl-indent{
    padding-left: $layout-indent;
}
.pr-indent{
    padding-right: $layout-indent;
}
.px-indent{
    @extend #{".pl-indent", ".pr-indent"};
}
.py-indent{
    @extend #{".pt-indent", ".pb-indent"};
}
.p-indent{
    @extend #{".px-indent", ".py-indent"};
}
.pt-indent-xs{
    padding-top: $layout-indent-xs;
}
.pb-indent-xs{
    padding-bottom: $layout-indent-xs;
}
.pl-indent-xs{
    padding-left: $layout-indent-xs;
}
.pr-indent-xs{
    padding-right: $layout-indent-xs;
}
.px-indent-xs{
    @extend #{".pl-indent-xs", ".pr-indent-xs"};
}
.py-indent-xs{
    @extend #{".pt-indent-xs", ".pb-indent-xs"};
}
.p-indent-xs{
    @extend #{".px-indent-xs", ".py-indent-xs"};
}
.pt-10{
    padding-top: 10px;
}
.pt-40{
    padding-top: 40px;
}
.pt-45{
    padding-top: 45px;
}
.pt-47{
    padding-top: 47px;
}
.pt-80{
    padding-top: 80px;
}
.pt-85{
    padding-top: 85px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-25{
    padding-bottom: 25px;
}
//End Padding

//Min-height
.min-h-full{
    min-height: 100%;
}
.min-h-screen{
    min-height: 100vh;
}
.min-h-container{
    min-height: 685px;
}
//End Min-height

//Height
.h-full{
    height: 100%;
}
.h-auto{
    height: auto;
}
//End Height

//Text
.text-white{
    color: $color-white;
}
.text-main{
    color: $color-primary;
}
.text-pink{
    color: $color-pink;
}
.text-gradient-pink{
    background: -webkit-linear-gradient(#FCEED1,#E49E92,#CF5B79);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient-purple{
    background: -webkit-linear-gradient(#FF75B1,#FF83B5,#FFDCCD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-center{
    text-align: center;
}
.text-base{
    font-size: $text-base;
}
.text-xs{
    font-size: $text-xs;
}
.text-sm{
    font-size: $text-sm;
}
.text-lg{
    font-size: $text-lg;
}
.text-xl{
    font-size: $text-xl;
}
.text-2xl{
    font-size: $text-2xl;
}
.text-3xl{
    font-size: $text-3xl;
}
.font-normal{
    font-weight: $font-weight__normal;
}
.font-bold{
    font-weight: $font-weight__bold;
}
.font-extrabold{
    font-weight: $font-weight__extrabold;
}
.italic{
    font-style: italic;
}
.white-space-nowrap{
    white-space: nowrap;
}
.uppercase{
    text-transform: uppercase;
}
//End Text

//Display
.hidden{
    display: none;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.inline-flex{
    display: inline-flex;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-grow{
    flex-grow: 1;
}
.items-center{
    align-items: center;
}
.items-end{
    align-items: end;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
//End Display

//Width
.w-full{
    width: 100%;
}
.w-screen{
    width: 100vw;
}
//End Width

//Max-width
.max-w-full{
    max-width: 100%;
}
.max-w-none{
    max-width: none;
}
.max-w-120{
    max-width: 120px;
}
//End Max-width

//Container
.container{
    max-width: $max-w-content;
    @extend #{".w-full", ".mx-auto", ".px-indent", ".relative"};
    &.px-0{
        @extend .px-0;
    }
}
//End Container

//Image
.object-cover{
    object-fit: cover;
}
img{
    @extend #{".max-w-full", ".h-auto", ".block", ".mx-auto"};
    &.m-0{
        @extend .m-0;
    }
}
.img-over{
    @extend #{".w-full", ".h-full", ".object-cover"};
}
//End Image

//Position
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}
.bottom-0{
    bottom: 0;
}
.inset-x-0{
    @extend #{".left-0", ".right-0"};
}
.inset-y-0{
    @extend #{".top-0", ".bottom-0"};
}
.inset-0{
    @extend #{".inset-x-0", ".inset-y-0"};
}
.left-indent{
    left: $layout-indent;
}
.right-indent{
    right: $layout-indent;
}
.left-indent-xs{
    left: $layout-indent-xs;
}
.right-indent-xs{
    right: $layout-indent-xs;
}
.top-25{
    top: 25px;
}
//End Position

.box-border{
    box-sizing: border-box;
}
.rotate-180{
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
